/* style.css
 * This file provides css styles.
 */

html { background-color: #8b9ba4; } 

h1 {text-align: center;
    margin: 20px;
}

body {
    font-family: monospace;
	  font-size: 140%;
    background-color:  #6b7b84;
    height: 95vh;
    max-width: 375px;
    margin: 0 auto;
  }