<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon-32x32.png">
    <link rel="icon" href="/static/img/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-touch-icon152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/img/apple-touch-icon192x192.png">
</head>
<body>
<h1>{{title}}</h1>
{% block content %}{% endblock %}
</body>
</html>