{% extends "base.html" %}

{% block content %}
<ul>
    <li><a href="/build">This build</a></li>
    <li><a href="https://api-browser-u4sp7ks5ea-uc.a.run.app">API Browser</a></li>
    <li><a href="https://automation-u4sp7ks5ea-uc.a.run.app">Automation</a></li>
    <li><a href="https://sudoku-bot-u4sp7ks5ea-uc.a.run.app">Sudoku Bot</a></li>
    <li><a href="https://sudoku-u4sp7ks5ea-uc.a.run.app/">Sudoku Solver</a></li>
    <li><a href="https://speech-demo-u4sp7ks5ea-uc.a.run.app">Speech</a></li>
    <li><a href="https://us-central1-my-lambda-functions.cloudfunctions.net/comics">Comics</a></li>
    <li><a href="https://calendar-u4sp7ks5ea-uc.a.run.app">Calendar</a></li>
    <li><a href="https://us-central1-my-lambda-functions.cloudfunctions.net/foo">Foo (Lambda Flask HW)</a></li>

</ul>
{% endblock %}
